<div class="work-item">
    <div class="work-header">
        <div class="work-title">{WORK_TITLE}</div>
        <div class="work-date">{WORK_DATE}</div>
    </div>
    <div class="work-company">
        <i class="fas fa-building"></i>
        <a href="{WORK_COMPANY_LINK}" target="_blank" rel="noopener noreferrer">{WORK_COMPANY}</a>
    </div>
    <div class="work-details">
        <ul>
            {% comment %} <li>{WORK_DETAILS}</li> {% endcomment %}
            {WORK_DETAILS}
        </ul>
    </div>
</div>